In [12]:
a = ['확진환자', '격리해제', '검사진행', '사망자']
b = ['763', '18', '8,725', '7']


#

In [13]:
c = dict()

c = {a[0]:b[0],a[1]:b[1],a[2]:b[2],a[3]:b[3]}
c

{'확진환자': '763', '격리해제': '18', '검사진행': '8,725', '사망자': '7'}

In [13]:
import re

def cleanText(readData):
    # 텍스트에 포함되어 있는 특수 문자 제거
    text = re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》]', '', readData)
    return text

In [30]:
aa = cleanText(b[2])
aa = int(aa)
aa

8725

In [35]:
aa=[]
for q,i in enumerate(b):
    aa.append(int(cleanText(i)))
    print(q,i)
aa

0 763
1 18
2 8,725
3 7

[763, 18, 8725, 7]

In [10]:
import time
import pytz

In [17]:
import time
q = time.strftime('%Y-%m-%d', time.localtime(time.time()))
q

'2020-02-24'

In [48]:
c['확진환자']

'763'

In [27]:
df_korea = pd.read_csv('C:/Users/82105/Desktop/bigdata analysis/lytPython/Python/pycharm/Testing/korea_corona.csv')
df_korea = df_korea.append([
    {'date': time.strftime('%Y-%m-%d', time.localtime(time.time())), 'confirmed': c['확진환자']},
], ignore_index=True)

df_korea.tail()

          date confirmed
68  2020-02-23       602
69  2020-02-24       763
70  2020-02-22       433
71  2020-02-23       602
72  2020-02-24       763

In [8]:
import pandas as pd
df = pd.read_csv('C:/Users/82105/Desktop/bigdata analysis/lytPython/Python/pycharm/Testing/korea_corona.csv')
df

          date  confirmed
0   2020-01-22          1
1   2020-01-23          1
2   2020-01-24          2
3   2020-01-25          2
4   2020-01-26          3
..         ...        ...
68  2020-02-23        602
69  2020-02-24        763
70  2020-02-22        433
71  2020-02-23        602
72  2020-02-24        763

[73 rows x 2 columns]