In [18]:
import datetime
current = datetime.datetime.now()
nine_hour_later = current + datetime.timedelta(hours=9)
date = nine_hour_later.strftime("%Y%m%d_%H:%M:%S")
date

'20200325_04:31:53'

# 7일차
- 파이썬과 mariaDB연동

In [141]:
def sql_():
    import pymysql
    conn = pymysql.connect(host='13.124.226.221',
                           user='ljkk1542', port=8056, password='maroon3169!@', db='tell119',
                           charset='utf8mb4', use_unicode=True,
                           cursorclass=pymysql.cursors.DictCursor)
    return conn

In [159]:
date = '20200322'

In [161]:
len(date)

8

In [156]:
conn = sql_()
cur = conn.cursor()
sql ="""SELECT * FROM Connection_ip where date>= (%s)"""
cur.execute(sql, '%s'%(date))
row = cur.fetchall()
real = []
for pet in row:
    pet_val = list(pet.values())
    real.append(pet_val)

In [143]:
import pandas as pd

In [144]:
ip = []
date = []
for i,q in enumerate(real):
    ip.append(q[0])
    date.append(q[1].strftime('%Y%m%d'))

In [145]:
aa = pd.DataFrame(ip,columns=['IP'])
bb = pd.DataFrame(date,columns=['DATE'])

In [146]:
df = pd.merge(aa,bb, how='outer', left_index=True,right_index=True)

In [147]:
len(df)

761

In [148]:
df.iloc[1:2,:1]

                IP
1  218.157.138.171

In [140]:
df['IP']

0      218.157.138.171
1      218.157.138.171
2           39.7.59.32
3      192.241.198.223
4         54.203.58.10
            ...
756    218.157.138.171
757    104.238.220.208
758       42.188.65.28
759          127.0.0.1
760      200.53.28.136
Name: IP, Length: 761, dtype: object

In [78]:
import pymysql
# 네트워크 접속은 os관리
conn = pymysql.connect(host = '13.124.226.221',
                      user ='ljkk1542', port=8056, password='maroon3169!@', db='tell119',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
cur.execute("Create table inquire ( id INT NOT NULL AUTO_INCREMENT, \
           name VARCHAR(20),\
           email TEXT,\
           text TEXT,\
           IP_address TEXT,\
           mmdd TEXT,\
           PRIMARY KEY (id)) ENGINE = InnoDB AUTO_INCREMENT=1")
print(cur.description)
conn.close

None

In [57]:
import time
date = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

'2020-03-08 15:50:19'

In [75]:
name = 'sfsdfafjk'
email = 'ea@naver.com'
text = 'asfd특수문자fasd 실험입니다. ★qweqew 니니니님아ㅇ'
ip = '125.15.3.5'

In [77]:
import pymysql
conn = pymysql.connect(host = 'localhost',
                      user ='root', port=3306, password='root', db='tell119',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
sql ="""INSERT INTO inquire (name, email, text, IP_address, mmdd)
    VALUES(%s, %s, %s, %s, %s)"""



cur.execute(sql, ('%s'%(name), '%s'%(email),'%s'%(text), '%s'%(ip), '%s'%(date)))

# cur.execute(sql, ('ljkk1542', '텍스트 문의드립니다.'))
# cur.execute(sql, ('영구영구', '텍스트 문의드립니다. 잘 지내시죠?'))
# cur.execute(sql, ('영구영구2', '텍스트 문의드립니다. ggggggqweqejasdkhda test 입니다.'))


conn.commit()

In [74]:
'%s'%(name)

'sfsdfafjk'

In [1]:
import pymysql
# 네트워크 접속은 os관리
conn = pymysql.connect(host = 'localhost',
                      user ='root', port=3306, password='root', db='acornschool',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
cur.execute("Create table pet ( id INT NOT NULL AUTO_INCREMENT, \
           name VARCHAR(20),\
           owner VARCHAR(20),\
           species VARCHAR(20),\
           sex CHAR(1),\
           birth DATE, death DATE,\
           PRIMARY KEY (id)) ENGINE = InnoDB AUTO_INCREMENT=1")
print(cur.description)
conn.close

None

In [2]:
conn = pymysql.connect(host = 'localhost',
                      user ='root', port=3306, password='root', db='acornschool',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)

cur = conn.cursor()
sql ="""INSERT INTO pet (name, owner, species, sex, birth, death)
    VALUES(%s, %s, %s, %s, %s, %s)"""
cur.execute(sql, ('유리', 'acorn', '강아지', 'f', '2014-1-1','2016-2-1'))
cur.execute(sql, ('귀엽', 'acorn', '강아지', 'f', '2014-3-1','2016-9-1'))
cur.execute(sql, ('돌이', 'acorn', '곰', 'f', '2014-8-1','2018-2-1'))
conn.commit()

In [11]:
cur.executemany("""INSERT INTO pet (name, owner, species, sex, birth, death)
    VALUES(%s, %s, %s, %s, %s, %s)""",
    [('대한','민주','cat','f','2001-02-04',None),
    ('민국','자유','cat','f','2010-03-17',None),
    ('만세','민주','cat','f','2010-05-13',None),
    ('하자','민주','cat','f','2001-08-27',None),
    ('성공','자유','cat','f','2017-08-31','2018-04-29')])
conn.commit()
print(cur.rowcount)
conn.close

5

In [11]:
import pymysql
conn = pymysql.connect(host = '192.168.1.178',
                      user ='root', port=3306, password='root', db='acornschool',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

In [12]:
cur.execute('select * from pet')
print(cur.rowcount)
cur.description

cur.fetchone()
cur.fetchone()
cur.fetchone()
recs = cur.fetchmany(2)
for rec in recs:
    print(rec)
recs = cur.fetchall()
for rec in recs:
    print(rec)
#cur.close()
#conn.close()

8
{'id': 4, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}
{'id': 5, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}
{'id': 6, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}
{'id': 7, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 8, 27), 'death': None}
{'id': 8, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}

In [17]:
# 문제 : 생일이 2015-01-01이후인 pet을 출력하시오

cur.execute("""SELECT * FROM pet WHERE birth >'2015-01-01';""")
row = cur.fetchall()
for pet in row:
    pet_val = list(pet.values())
    print("ID=%d, Name=%s, 주인=%s"% (pet_val[0],pet_val[1],pet_val[2]))
    
# 문제 초심을 유리로 업데이트하시오
sql = 'update pet set name=%s where name = %s'
cur.execute(sql, ('초심','유리'))
conn.commit()
print(cur.rowcount)

ID=8, Name=성공, 주인=자유
1

In [19]:
# 문제: 유리를 삭제하시오( 쿼리를 일반화 )
sql = 'delete from pet where name=%s'
cur.execute(sql,'초심')
conn.commit()
print(cur.rowcount)

cur.close()
conn.close()

0

In [21]:
conn = pymysql.connect(host = '192.168.1.178',
                      user ='root', port=3306, password='root', db='acornschool',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

cur = conn.cursor()
cur.callproc('pet_select')
if(cur.rowcount):
    print(cur.fetchall())

[{'id': 2, 'name': '귀엽', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'death': datetime.date(2016, 9, 1)}, {'id': 3, 'name': '돌이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'death': datetime.date(2018, 2, 1)}, {'id': 4, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'death': None}, {'id': 5, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'death': None}, {'id': 6, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'death': None}, {'id': 7, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 8, 27), 'death': None}, {'id': 8, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2017, 8, 31), 'death': datetime.date(2018, 4, 29)}]

In [40]:
# 문제 insert 를 하는 프로시져를 생성한 다음에
# ('마음이', 'acorn','.백구','f','2018-01-02','2018-11-04') 데이터를 입력하시오
import pymysql

conn = pymysql.connect(host = '192.168.1.178',
                      user ='root', port=3306, password='root', db='acornschool',
                      charset = 'utf8mb4', use_unicode=True,
                      cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

data = ('마음이', 'acorn','백구','f','2018-01-02','2018-11-04')
cur.callproc('pet_insert',data)
conn.commit()

In [51]:
# update
data = ("마음","마음22",0)
cur.callproc('pet_update',data)
cur.execute('SELECT @_pet_update_2')# 이름이결정
result = cur.fetchone()
print(result['@_pet_update_2']) # 키이 데이터형식
if result['@_pet_update_2'] ==2:
    print("수정할 이름이 없습니다.")
else:
    print("성공적으로 수정되었습니다.")
conn.commit()

2
수정할 이름이 없습니다.

In [59]:
# delete
data = ("마음22",0)
cur.callproc('pet_delete',data)
cur.execute('SELECT @_pet_delete_1')# 이름이결정
result = cur.fetchone()
print(result['@_pet_delete_1']) # 키이 데이터형식
if result['@_pet_delete_1'] ==2:
    print("삭제할 이름이 없습니다.")
else:
    print("성공적으로 수정되었습니다.")
conn.commit()

2
삭제할 이름이 없습니다.

In [61]:

try: # Exception 예외처리 (프로그램은 지속적으로 실행되어야한다.)
    data = ("마음22",0)
    cur.callproc('pet_delete',data)
    cur.execute('SELECT @_pet_delete_1')# 이름이결정
    result = cur.fetchone()
    print(result['@_pet_delete_1']) # 키이 데이터형식
    if result['@_pet_delete_1'] ==2:
        print("삭제할 이름이 없습니다.")
    else:
        print("성공적으로 수정되었습니다.")
except:
    conn.rollback()

2
삭제할 이름이 없습니다.

In [1]:
import pymysql
class Student:
    def __init__(self):
        self.bunho=0
        self.name=''
        self.kor=0
        self.mat=0
        self.eng=0
        self.total=0
        self.average=0
        self.grade=''
    def inputData(self):
        self.name=input("이름을 입력하시오")
        self.kor=eval(input("국어점수:"))
        self.mat=eval(input("수학점수:"))
        self.eng=eval(input("영어점수:"))
        
    def calc_total_average(self):
        self.total=self.kor+self.mat+self.eng
        self.average=round(self.total/3,2)
        self.grade = self.calcSemGrade()
        
    def calcSemGrade(self):
        if self.average>=90:
            return "A"
        elif self.average>=80:
            return "B"
        elif self.average>=70:
            return "C"
        elif self.average>=60:
            return "D"
        else:
            return "F"
    def __str__(self):
        return '%5s %5s %6s %6s %6s %7s %7s %s' % (self.bunho, self.name,
                                                  self.kor, self.mat,self.eng,self.total,
                                                  self.average, self.grade)
    def __cmp__(self,other):
        return self.name == other.name
    def __call__(self,other): # 클래스를 함수처럼 사용하고자할때 오버라이딩.
        st = []
        for student in other:
            stp = Student()
            stp.name=student[0]
            stp.kor=student[1]
            stp.eng=student[2]
            stp.mat=student[3]
            st.append(stp)
        return st

In [2]:
class maria:
    schoolname = "에이콘 아카데미"
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.1.178', port=3306, user='root',
                           password='root',db='acornschool', charset='utf8',
                                    autocommit=True)
        cor = self.conn.cursor()
        cor.execute("SHOW TABLES")
        tables = cor.fetchall()
        c = []
        for i in tables:
            if  i == ('sungjuk',):
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            cor.execute(sungjuk_table)
            print('테이블이 있습니다. ')
        else:
            cor.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20),  mat INTEGER(20),eng INTEGER(20))")
            print('sungjuk테이블을 생성하였습니다. ')
    def __del__(self):
        self.conn.close()

    def selectdb(self ):
        cur = self.conn.cursor()
        cur.callproc("sungjuk_select")
        if (cur.rowcount):
            stu = list(cur.fetchall())
        else :
            stu = 0;
        cur.close()
        return stu
   
    def insertdb(self,name, kor, mat, eng):
        cur = self.conn.cursor()
        args = (name, kor, mat, eng)
        cur.callproc("sungjuk_insert",args)
        cur.close()
       
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("sungjuk_update", args)
        cur.execute('SELECT @_sungjuk_update_2')
        result = cur.fetchone()
        if result==2 :
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다. ")
        cur.close()
        return result 
   
    def deletedb(self,in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("sungjuk_delete", args)
        cur.execute('SELECT @_sungjuk_delete_1')
        result = cur.fetchone()
        if result==2 :
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다. ")
        cur.close()
        return result

In [3]:
from math import  *
from statistics import *

class Management:
    def __init__(self):
        self.maria = maria()
    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if (data):
            for student in data:
                stp = Student()
                stp.bunho = student[0]
                stp.name = student[1]
                stp.kor = student[2]
                stp.eng = student[3]
                stp.mat = student[4]
                stp.total = student[5]
                stp.average = student[5]
                st.append(stp)                    
            # studdata=Student((data))
            print(maria.schoolname + "  성적 계산표 ")
            print('%5s %5s %6s %6s %6s %6s  %6s %6s' % ('번 호', '이 름', '국 어',
                    '수 학', '영  어', '총 점', '평 균', '학 점' ))      
            for stud in st:
                print( stud)                     
        else :
            print("데이터가 없습니다. . ")
           
    def M_insert(self):
        stu = Student()
        stu.inputData()
        self.maria.insertdb(stu.name, stu.kor, stu.mat, stu.eng)
    def M_update(self):
        name = input("검색할 이름을 입력하시요")
        replace_name = input("수정할 이름을 입력하시요")
        result=self.maria.updatedb(name, replace_name)  
    def M_delete(self):       
        name = input("검색할 이름을 입력하시요")
        self.maria.deletedb(name)

In [ ]:
import pymysql
import sys
class Menu():
    def __init__(self):
        self.manage = Management()
       
    def work(self):
        menu = [ "전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)"]
        manage = Management()
        while 1:
            sel = input(menu)
            if  sel == "1":
                manage.M_select()
                continue
            elif sel == "2":
                manage.M_insert()
                continue       
            elif sel =="3":
                manage.M_update()
                continue
            elif sel =="4":
                manage.M_delete()
            elif sel =="9":
                del(manage)
                sys.exit()
            else :
                print("잘못된 입력입니다. 다시입력 하시요")
                continue       
menu = Menu()
menu.work()

테이블이 있습니다.
테이블이 있습니다.

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 1

에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    1  asds     54     85     65    None    None
    2   ewq     52     98     65    None    None
    3  dasd     98     78     98    None    None
    4 qweqew     87     88     98    None    None
    5   ewq     88     85     95    None    None
    6   qwe    123    123    123    None    None
    7  9999    123    213    123    None    None
    8   qwe    123    123    123    None    None
    9   qwe    123    123    123    None    None

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 2
이름을 입력하시오 qwe
국어점수: 45
수학점수: 65
영어점수: 98
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 1

에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    1  asds     54     85     65    None    None
    2   ewq     52     98     65    None    None
    3  dasd     98     78     98    None    None
    4 qweqew     87     88     98    None    None
    5   ewq     88     85     95    None    None
    6   qwe    123    123    123    None    None
    7  9999    123    213    123    None    None
    8   qwe    123    123    123    None    None
    9   qwe    123    123    123    None    None
   10   qwe     45     98     65    None    None