In [ ]:
import scipy as sp
sp.stats.spearmanr(x,y) # 스피어만의 순위 상관계수 ( 두 변수를 순위로 변환 후 순위에 대해 상관계쑤 구함)
sp.stats.kendalltau(x,y) # 켄달 토우의 순위 상관계수 ( 순위가 같은 짝 concordant의 수를 이용하여 계산 )
 #  fit_predic 모델을 생성 _ predict 예측

In [ ]:
st.count("t") # s안에 t가 몇개있느냐 대소문자를 구분함
st.lower() # 소문자로 바꿈   
st.find("that")  # 단어별 
print(df.skew())    # 왜도 : 기준 :0  ( 좌우대칭 )
print(df.kurt())    # 첨도 : 기준 : 3  ( 정규분포 )
st.corr()# correlation : 상관계수 행렬
# 행과 열의 이름은 열변수이름 
# 상관계수행렬은 정방행렬, 대칭행렬 => 고유값분해
# ==> 고유값(value 3개) + 고유 벡터(3,3)
# * 고유벡터 (3,3) -> 3개의 방향축 / 모두 직교함  크기는 

# 고유값 : 고유벡터 방향으로 크기를 나타냄
# 고유값에서 가장 값이 큰 것 => 주성분 축 => 변수 선택(값이 낮은 것을 제외함)   =====: PCA
    
    
-- Series
st.str.lower() # 전체 소문자로 출력
st.str.len() # 문자수 카운트해줌  
st.str.startswith('첫문자') # 첫문자열로 파악해줌
st.str.split() # 한 list를 분류시켜줌
st.str.contains('A', na = False) # 포함하는지 여부  /  True, False 출력

# 정규표현식
# []: 선택, + : 여러개
df.str.extract('([A-Za-z]+)', expand=False)
df.str.findall(r'^[^AEIOU].*[^aeiou]$') # 처음이 AEIOU로 시작하지않고, 끝이 aeiou가 아닌것

import re
text = "아이아아어어 101-4565-4564 , "
regex = re.compile(r'\d\d\d-\d\d\d\d-\d\d\d\d') # 000-0000-0000
mat = regex.search(text)
number = mat.group() # 나온숫자들 그룹화
print(number)

In [ ]:
-- dataframe

df.applymap(type).head(1) # 전체 열들의 데이터타입
df.dtypes # 위에랑 비슷
df.describe() # 여러 비교해줌
df.groupby('type').agg([np.mean,np.std])  # 열별로 평균값,표준편차값 구해줌 단 type이라는 열로 묶어서!
df['열이름'] = df['열이름'].str.replace('$','') # dataframe 안에 열이름 지정후에 $ 표시를 공백으로 변경
df['열이름'] = df['열이름'].astype('float') # 데이터 타입을 float으로 변경
df.isnull().any() # null값 확인 열별로
df.isnull().values.sum()) # null의 개수
df.dropna(axis=1, how='any') # 열별로 na값 확인후 행 날려버림
df.columns.to_list # 열별로 공백확인
df.columns = df.columns.str.strip() # 공백제거 lstrip, rstrip
df['age'].fillna('', inplace=True) # age안에 있는 밸류중 na값을 공백으로변환
df['age'] = pd.to_numeric(df['age'], errors='ignore') #age 열 안에 있는 밸류값들을 numeric으로 전환

In [ ]:
#sql 연동
conn = pymysql.connect(host="127.0.0.1", port=3306, user='root', password='root',
                      db = 'jeju', charset = 'utf8mb4',
                      cusorclass = pymysql.cursors.DictCursor)

cursor = conn.cursor() # 커서에 conn.cursor입력
cursor.execute("select * from student") # execute로 sql에 명령문 전달
rez = cursor.fetchall() # list type  이렇게해야 옮겨지나?
rez

In [ ]:
# % 들어간 밸류값 변경방법
def convert_percent(val) :
    new_val = val.replace("%", '')
    return float(new_val) / 100
df['%들어간열'] = df['%들어간열'].map(convert_percent)

In [ ]:
# 문자하고 숫자가 같이 있는경우
df['문자,숫자있는열'] = pd.to_numeric(df['문자,숫자있는열'],
                              errors = 'coerce') # ignore

In [ ]:
import pandas as pd
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin']) 
# 정규표현식
# [] : 선택  +  여러개
# extract : 추출
# ^ : 처음부터
# [^] : 부정
# .* : 여러개
# $ : 끝
print(monte)
print("=================================")
print(monte.str.extract('([A-Za-z]+)',expand = False))  # 대문자 A-Z 소문자 a-z
print("=================================")
print(monte.str.findall(r'^[^AEIOU].*[^aeiou]$'))  # 대문자 A,E,I,O,U가 아니고, 끝이 소문자 a,e,i,o,u가 아닌것

In [ ]:
print('C:\\nowhere')
print(r'C:\\nowhere')  # 정규표현식   # 3버전은 기본적으로 유니코드 사용 
# * 유니코드 : 전세계 언어를 표현하기 위해 사용( 2바이트를 이용 )
print(u'Hello, world!') # unicode 2.7버전

In [ ]:
aqw = re.compile(r'\d') 로 숫자 를 어떻게 표시할건지 파악후
ss = aqw.search(text) 로 뽑아낸뒤
qq = ss.group() 그룹화하면 끝

In [8]:
import re
text = "문의사항이 있으면 032-232-3245 로 연락주세요."
# \d :숫자한개
# \d{} : 개수
# 패턴을 컴파일수 함수적용
regex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
regex = re.compile(r'(\d{3})-(\d{3})-(\d{4})')
mat = regex.search(text)
phon= mat.group()
print(phon)

032-232-3245

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

import re

data={'Dave':'iadslba@naver.com', 'Steve':'steve@gmail.com', 'Rob':'rob', 'Wes':np.nan}
data=Series(data)
print(data.isnull())
print("네이버\n", data.str.contains('naver'))

print("=========================================")
# 이메일 출력하기
# 정규표현식
# . : 한개를 의미
# \. : 한개가 아니고 .(dot)으로 입력
pattern = r'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]'  
matches = data.str.match(pattern, flags = re.IGNORECASE) # flags = 대소문자 구문하지 말것
print("match결과 : \n" , matches)  # T, F로 출력

print("=========================================")
matches = data.str.findall(pattern, flags = re.IGNORECASE)
print("findall 결과 : \n", matches)

In [9]:
pattern = r'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]'

In [12]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
s = pd.Series(['a','a|b',np.nan,'a|c'])
print(s)
s.str.get_dummies(sep='|')#seperate : 분리 
# 0행은 a만 있음 => a만 1
# 1행은 a,b만 있음

0      a
1    a|b
2    NaN
3    a|c
dtype: object

   a  b  c
0  1  0  0
1  1  1  0
2  0  0  0
3  1  0  1